In [27]:
import pandas as pd
df = pd.read_csv('./등표기상관측/2012.csv', encoding='EUC-KR')

In [28]:
df.head()

    지점                일시  풍속(m/s)  최대순간풍속(m/s)  해면기압(hPa)  최대파고(m)  유의파고(m)
0  962  2012-01-01 00:00      5.5         10.4        NaN      0.6      0.4
1  962  2012-01-01 01:00      5.1          8.1        NaN      0.5      0.3
2  962  2012-01-01 02:00      5.9         10.2        NaN      0.5      0.3
3  962  2012-01-01 03:00      5.7         10.2        NaN      0.5      0.3
4  962  2012-01-01 04:00      2.9         10.2        NaN      0.4      0.3

In [29]:
df['지점'].unique()

array([962], dtype=int64)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8508 entries, 0 to 8507
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   지점           8508 non-null   int64
 1   일시           8508 non-null   object
 2   풍속(m/s)      8482 non-null   float64
 3   최대순간풍속(m/s)  8504 non-null   float64
 4   해면기압(hPa)    6864 non-null   float64
 5   최대파고(m)      7224 non-null   float64
 6   유의파고(m)      7224 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 465.4+ KB

In [173]:
df.dropna(inplace=True)

# 인덱스 변경

In [15]:
df['일시'] = pd.to_datetime(df['일시'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8508 entries, 0 to 8507
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   지점           8508 non-null   int64
 1   일시           8508 non-null   datetime64[ns]
 2   풍속(m/s)      8482 non-null   float64
 3   최대순간풍속(m/s)  8504 non-null   float64
 4   해면기압(hPa)    6864 non-null   float64
 5   최대파고(m)      7224 non-null   float64
 6   유의파고(m)      7224 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 465.4 KB

In [17]:
df.set_index('일시', inplace=True)

In [18]:
df.head()

                      지점  풍속(m/s)  최대순간풍속(m/s)  해면기압(hPa)  최대파고(m)  유의파고(m)
일시
2011-01-01 00:00:00  962     11.3         17.2     1011.0      NaN      NaN
2011-01-01 01:00:00  962      8.8         18.0     1010.9      NaN      NaN
2011-01-01 02:00:00  962      7.6         18.0     1011.0      NaN      NaN
2011-01-01 03:00:00  962      9.4         18.0     1011.7      NaN      NaN
2011-01-01 04:00:00  962      8.4         18.0     1012.0      NaN      NaN

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8508 entries, 2011-01-01 00:00:00 to 2011-12-31 23:00:00
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   지점           8508 non-null   int64
 1   풍속(m/s)      8482 non-null   float64
 2   최대순간풍속(m/s)  8504 non-null   float64
 3   해면기압(hPa)    6864 non-null   float64
 4   최대파고(m)      7224 non-null   float64
 5   유의파고(m)      7224 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 465.3 KB

In [20]:
df.head()

                      지점  풍속(m/s)  최대순간풍속(m/s)  해면기압(hPa)  최대파고(m)  유의파고(m)
일시
2011-01-01 00:00:00  962     11.3         17.2     1011.0      NaN      NaN
2011-01-01 01:00:00  962      8.8         18.0     1010.9      NaN      NaN
2011-01-01 02:00:00  962      7.6         18.0     1011.0      NaN      NaN
2011-01-01 03:00:00  962      9.4         18.0     1011.7      NaN      NaN
2011-01-01 04:00:00  962      8.4         18.0     1012.0      NaN      NaN

# 관측지점 삭제

In [99]:
import pandas as pd

df = pd.read_csv('./인덱스변경/2018.csv', index_col=0)

df.drop(['지점'], axis=1, inplace=True)

df.to_csv('./인덱스변경/2018.csv')

In [21]:
df.head()

                      지점  풍속(m/s)  최대순간풍속(m/s)  해면기압(hPa)  최대파고(m)  유의파고(m)
일시
2011-01-01 00:00:00  962     11.3         17.2     1011.0      NaN      NaN
2011-01-01 01:00:00  962      8.8         18.0     1010.9      NaN      NaN
2011-01-01 02:00:00  962      7.6         18.0     1011.0      NaN      NaN
2011-01-01 03:00:00  962      9.4         18.0     1011.7      NaN      NaN
2011-01-01 04:00:00  962      8.4         18.0     1012.0      NaN      NaN

In [22]:
import pandas as pd

df.rename(columns={'풍속(m/s)':'WIND_SPEED',
                '최대순간풍속(m/s)':'GUST_WIND',
                '해면기압(hPa)':'HPA',
                '최대파고(m)':'MAX_WAVE',
                '유의파고(m)':'SIG_WAVE'}, inplace=True)

In [24]:
df.drop(['지점'], axis=1, inplace=True)

In [26]:
df.to_csv('./등표기상관측_전처리완료/2011.csv')

In [25]:
df.head()

                     WIND_SPEED  GUST_WIND     HPA  MAX_WAVE  SIG_WAVE
일시
2011-01-01 00:00:00        11.3       17.2  1011.0       NaN       NaN
2011-01-01 01:00:00         8.8       18.0  1010.9       NaN       NaN
2011-01-01 02:00:00         7.6       18.0  1011.0       NaN       NaN
2011-01-01 03:00:00         9.4       18.0  1011.7       NaN       NaN
2011-01-01 04:00:00         8.4       18.0  1012.0       NaN       NaN

# 종합코드

In [111]:
df = pd.read_csv('./등표기상관측/2010.csv', encoding='EUC-KR')

In [112]:
df.head(5)

    지점                일시  풍속(m/s)  최대순간풍속(m/s)  해면기압(hPa)  최대파고(m)  유의파고(m)
0  962  2010-01-01 00:00      4.2         14.0     1019.5      NaN      NaN
1  962  2010-01-01 01:00      6.8          9.2     1019.2      NaN      NaN
2  962  2010-01-01 02:00      3.4          9.2     1019.7      NaN      NaN
3  962  2010-01-01 03:00      3.9          9.2     1019.8      NaN      NaN
4  962  2010-01-01 04:00      5.3          9.2     1019.9      NaN      NaN

In [113]:
df['지점'].unique()

array([962], dtype=int64)

In [114]:
import pandas as pd

df = pd.read_csv('./등표기상관측/2010.csv', encoding='EUC-KR')

df['일시'] = pd.to_datetime(df['일시'])
df.set_index('일시', inplace=True)

df.rename(columns={'풍속(m/s)':'WIND_SPEED',
                '최대순간풍속(m/s)':'GUST_WIND',
                '해면기압(hPa)':'HPA',
                '최대파고(m)':'MAX_WAVE',
                '유의파고(m)':'SIG_WAVE'}, inplace=True)

df.drop(['지점'], axis=1, inplace=True)

df.to_csv('./등표기상관측_전처리완료/2010.csv')

In [115]:
df.head(5)

                     WIND_SPEED  GUST_WIND     HPA  MAX_WAVE  SIG_WAVE
일시
2010-01-01 00:00:00         4.2       14.0  1019.5       NaN       NaN
2010-01-01 01:00:00         6.8        9.2  1019.2       NaN       NaN
2010-01-01 02:00:00         3.4        9.2  1019.7       NaN       NaN
2010-01-01 03:00:00         3.9        9.2  1019.8       NaN       NaN
2010-01-01 04:00:00         5.3        9.2  1019.9       NaN       NaN

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8562 entries, 2010-01-01 00:00:00 to 2010-12-31 23:00:00
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WIND_SPEED  8471 non-null   float64
 1   GUST_WIND   8461 non-null   float64
 2   HPA         8497 non-null   float64
 3   MAX_WAVE    3659 non-null   float64
 4   SIG_WAVE    3775 non-null   float64
dtypes: float64(5)
memory usage: 401.3 KB

> * 2007년 이전 자료 없음
> * 2010년 파고 쪽 데이터 결측치가 반 이상
> * 2018년 이전은 모두 광안
> * 2019년 자료 없음
> * 2020년 이후 전부 오륙도자료, 파고 쪽 데이터 없음

In [1]:
import pandas as pd
df = pd.read_csv('./등표기상관측_전처리완료/2011.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8508 entries, 0 to 8507
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          8508 non-null   object
 1   WIND_SPEED  8482 non-null   float64
 2   GUST_WIND   8504 non-null   float64
 3   HPA         6864 non-null   float64
 4   MAX_WAVE    7224 non-null   float64
 5   SIG_WAVE    7224 non-null   float64
dtypes: float64(5), object(1)
memory usage: 398.9+ KB

In [3]:
df = pd.read_csv('./등표기상관측_전처리완료/2012.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8665 entries, 0 to 8664
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          8665 non-null   object
 1   WIND_SPEED  8543 non-null   float64
 2   GUST_WIND   8638 non-null   float64
 3   HPA         6550 non-null   float64
 4   MAX_WAVE    8606 non-null   float64
 5   SIG_WAVE    8606 non-null   float64
dtypes: float64(5), object(1)
memory usage: 406.3+ KB

In [4]:
df = pd.read_csv('./등표기상관측_전처리완료/2013.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8691 entries, 0 to 8690
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          8691 non-null   object
 1   WIND_SPEED  8690 non-null   float64
 2   GUST_WIND   8691 non-null   float64
 3   HPA         8688 non-null   float64
 4   MAX_WAVE    8679 non-null   float64
 5   SIG_WAVE    8679 non-null   float64
dtypes: float64(5), object(1)
memory usage: 407.5+ KB

In [5]:
df = pd.read_csv('./등표기상관측_전처리완료/2014.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8734 entries, 0 to 8733
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          8734 non-null   object
 1   WIND_SPEED  8733 non-null   float64
 2   GUST_WIND   8733 non-null   float64
 3   HPA         8648 non-null   float64
 4   MAX_WAVE    8694 non-null   float64
 5   SIG_WAVE    8458 non-null   float64
dtypes: float64(5), object(1)
memory usage: 409.5+ KB

In [6]:
df = pd.read_csv('./등표기상관측_전처리완료/2015.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8605 entries, 0 to 8604
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          8605 non-null   object
 1   WIND_SPEED  8593 non-null   float64
 2   GUST_WIND   8605 non-null   float64
 3   HPA         8596 non-null   float64
 4   MAX_WAVE    8505 non-null   float64
 5   SIG_WAVE    8378 non-null   float64
dtypes: float64(5), object(1)
memory usage: 403.5+ KB

In [7]:
df = pd.read_csv('./등표기상관측_전처리완료/2016.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8583 entries, 0 to 8582
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          8583 non-null   object
 1   WIND_SPEED  8583 non-null   float64
 2   GUST_WIND   8583 non-null   float64
 3   HPA         8564 non-null   float64
 4   MAX_WAVE    8369 non-null   float64
 5   SIG_WAVE    7940 non-null   float64
dtypes: float64(5), object(1)
memory usage: 402.5+ KB

In [8]:
df = pd.read_csv('./등표기상관측_전처리완료/2017.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8702 entries, 0 to 8701
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          8702 non-null   object
 1   WIND_SPEED  8702 non-null   float64
 2   GUST_WIND   8702 non-null   float64
 3   HPA         8701 non-null   float64
 4   MAX_WAVE    8643 non-null   float64
 5   SIG_WAVE    8269 non-null   float64
dtypes: float64(5), object(1)
memory usage: 408.0+ KB

In [9]:
df = pd.read_csv('./등표기상관측_전처리완료/2018.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6586 entries, 0 to 6585
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          6586 non-null   object
 1   WIND_SPEED  6586 non-null   float64
 2   GUST_WIND   6586 non-null   float64
 3   HPA         6586 non-null   float64
 4   MAX_WAVE    6539 non-null   float64
 5   SIG_WAVE    6440 non-null   float64
dtypes: float64(5), object(1)
memory usage: 308.8+ KB

In [11]:
df = pd.read_csv('./등표기상관측_전처리완료/2020.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1398 entries, 0 to 1397
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          1398 non-null   object
 1   WIND_SPEED  1391 non-null   float64
 2   GUST_WIND   1398 non-null   float64
 3   HPA         1398 non-null   float64
 4   MAX_WAVE    0 non-null      float64
 5   SIG_WAVE    0 non-null      float64
dtypes: float64(5), object(1)
memory usage: 65.7+ KB

In [ ]:
# 2011.1.1 ~ 2020.12.31 결측치

# 다대포 파고부이 
# MAX_WAVE	37,452
# SIG_WAVE	37,446


# 등표기상관측(광안, 오륙도를 같은 지점 취급)
# WIND_SPEED	19,297
# WIND_GUST	    19,160
# HPA		    17.005
# MAX_WAVE	    22,341
# SIG_WAVE	    23,606

In [72]:
df1 = pd.read_csv('./등표기상관측/oryukdo_bui_2021.csv')
df2 = pd.read_csv('./등표기상관측_전처리완료/2021.csv')

In [73]:
df2.drop(columns=['MAX_WAVE','SIG_WAVE'], inplace=True)

In [74]:
df = pd.merge(df2, df1, how='outer', on='일시')
df = df[['일시','WIND_SPEED','GUST_WIND','SIG_WAVE','MAX_WAVE','HPA']]
df.dropna(inplace=True)
df.to_csv('./등표기상관측_순서정리/2021.csv')
df

                       일시  WIND_SPEED  GUST_WIND  SIG_WAVE  MAX_WAVE     HPA
1     2021-01-01 01:00:00         3.3        4.7       0.5       0.7  1024.6
2     2021-01-01 02:00:00         6.6        7.4       0.5       0.6  1024.7
3     2021-01-01 03:00:00         5.4        6.5       0.5       0.7  1025.1
4     2021-01-01 04:00:00         4.1        5.6       0.5       0.6  1026.1
5     2021-01-01 05:00:00         3.6        4.7       0.5       0.7  1026.4
...                   ...         ...        ...       ...       ...     ...
8728  2021-12-30 20:00:00        10.4       12.4       0.4       0.7  1021.8
8729  2021-12-30 21:00:00         9.5       11.9       0.4       0.7  1022.5
8730  2021-12-30 22:00:00         6.7        7.7       0.5       0.7  1023.3
8731  2021-12-30 23:00:00         6.3        7.6       0.5       0.6  1024.0
8732  2021-12-31 00:00:00         5.5        6.4       0.4       0.6  1024.0

[8311 rows x 6 columns]

In [57]:
import pandas as pd
df = pd.read_csv('./등표기상관측_전처리완료/2020.csv')
df = df[['일시','WIND_SPEED','GUST_WIND','SIG_WAVE','MAX_WAVE','HPA']]
df.set_index('일시',inplace=True)
# df.dropna(inplace=True)
df.to_csv('./등표기상관측_순서정리/2020.csv')

In [3]:
import pandas as pd
df = pd.read_csv('./등표기상관측_순서정리/2021.csv', index_col=0)
df.set_index('일시',inplace=True)
df.to_csv('./등표기상관측_순서정리/2021.csv')