In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./전처리/2021_오륙도.csv', index_col=0)

In [3]:
df

                     WIND_SPEED  GUST_WIND  SIG_WAVE  MAX_WAVE     HPA  특보강도
일시
2021-01-01 01:00:00         3.3        4.7       0.5       0.7  1024.6   0.0
2021-01-01 02:00:00         6.6        7.4       0.5       0.6  1024.7   0.0
2021-01-01 03:00:00         5.4        6.5       0.5       0.7  1025.1   0.0
2021-01-01 04:00:00         4.1        5.6       0.5       0.6  1026.1   0.0
2021-01-01 05:00:00         3.6        4.7       0.5       0.7  1026.4   0.0
...                         ...        ...       ...       ...     ...   ...
2021-12-30 20:00:00        10.4       12.4       0.4       0.7  1021.8   0.0
2021-12-30 21:00:00         9.5       11.9       0.4       0.7  1022.5   0.0
2021-12-30 22:00:00         6.7        7.7       0.5       0.7  1023.3   0.0
2021-12-30 23:00:00         6.3        7.6       0.5       0.6  1024.0   0.0
2021-12-31 00:00:00         5.5        6.4       0.4       0.6  1024.0   0.0

[8311 rows x 6 columns]

In [6]:
df['특보강도'].replace(3,1, inplace=True)

In [9]:
df['특보강도'].replace(4,2, inplace=True)

In [13]:
df.to_csv('./전처리/2021_오륙도_012.csv')

In [2]:
df = pd.read_csv('./전처리/2021_오륙도_012_model2.csv',index_col=0)
df

                     WIND_SPEED  GUST_WIND  SIG_WAVE  MAX_WAVE     HPA  특보강도
일시
2021-01-01 01:00:00         3.3        4.7       0.5       0.7  1024.6   0.0
2021-01-01 02:00:00         6.6        7.4       0.5       0.6  1024.7   0.0
2021-01-01 03:00:00         5.4        6.5       0.5       0.7  1025.1   0.0
2021-01-01 04:00:00         4.1        5.6       0.5       0.6  1026.1   0.0
2021-01-01 05:00:00         3.6        4.7       0.5       0.7  1026.4   0.0
...                         ...        ...       ...       ...     ...   ...
2021-12-30 20:00:00        10.4       12.4       0.4       0.7  1021.8   0.0
2021-12-30 21:00:00         9.5       11.9       0.4       0.7  1022.5   0.0
2021-12-30 22:00:00         6.7        7.7       0.5       0.7  1023.3   0.0
2021-12-30 23:00:00         6.3        7.6       0.5       0.6  1024.0   0.0
2021-12-31 00:00:00         5.5        6.4       0.4       0.6  1024.0   0.0

[8311 rows x 6 columns]

In [3]:
df.drop(columns='특보강도', inplace=True)
df.head()

                     WIND_SPEED  GUST_WIND  SIG_WAVE  MAX_WAVE     HPA
일시
2021-01-01 01:00:00         3.3        4.7       0.5       0.7  1024.6
2021-01-01 02:00:00         6.6        7.4       0.5       0.6  1024.7
2021-01-01 03:00:00         5.4        6.5       0.5       0.7  1025.1
2021-01-01 04:00:00         4.1        5.6       0.5       0.6  1026.1
2021-01-01 05:00:00         3.6        4.7       0.5       0.7  1026.4

In [4]:
df.to_csv('./전처리/2021_오륙도_012_model1.csv')

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('./등표기상관측_전처리완료/2018.csv',index_col=0)
df2 = pd.read_csv('./등표기상관측_전처리완료/2021.csv',index_col=0)

In [3]:
df1.describe()

        WIND_SPEED    GUST_WIND          HPA     MAX_WAVE     SIG_WAVE
count  6586.000000  6586.000000  6586.000000  6539.000000  6440.000000
mean      4.758275    10.632736  1014.388794     0.555804     0.364953
std       2.562121     4.730547     7.177644     0.521881     0.367016
min       0.100000     0.900000   986.600000     0.000000     0.000000
25%       2.900000     7.100000  1009.200000     0.200000     0.100000
50%       4.400000     9.800000  1014.000000     0.400000     0.200000
75%       6.300000    13.400000  1019.800000     0.700000     0.500000
max      25.400000    35.600000  1033.800000     7.800000     5.600000

In [5]:
df2.describe()

        WIND_SPEED    GUST_WIND          HPA  MAX_WAVE  SIG_WAVE
count  8704.000000  8756.000000  8756.000000       0.0       0.0
mean      4.733984     6.106658  1015.729066       NaN       NaN
std       3.166392     3.721680     7.438322       NaN       NaN
min       0.000000     0.000000   997.100000       NaN       NaN
25%       2.300000     3.300000  1010.000000       NaN       NaN
50%       4.200000     5.500000  1016.100000       NaN       NaN
75%       6.600000     8.300000  1021.200000       NaN       NaN
max      22.600000    26.900000  1035.400000       NaN       NaN

In [ ]:
df[]